<div class="modal-header">
	<button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Edit Marker</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" ng-submit="save()">
		<div uib-alert class="alert-danger" ng-show="error">{{error.message || error}}</div>

		<div class="form-group">
			<label for="edit-marker-name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9"><input id="edit-marker-name" ng-model="marker.name" class="form-control" /></div>
		</div>

		<div class="form-group" ng-show="canControl('colour')">
			<label for="edit-marker-colour" class="col-sm-3 control-label">Colour</label>
			<div class="col-sm-9"><input id="edit-marker-colour" ng-model="marker.colour" class="form-control" fm-colour-picker></div>
		</div>

		<div class="form-group" ng-show="canControl('size')">
			<label for="edit-marker-size" class="col-sm-3 control-label">Size</label>
			<div class="col-sm-9"><input id="edit-marker-size" ng-model="marker.size" class="form-control" fm-spinner fm-spinner-min="15"></div>
		</div>

		<div class="form-group" ng-show="canControl('symbol')">
			<label for="edit-marker-symbol" class="col-sm-3 control-label">Icon</label>
			<div class="col-sm-9"><input id="edit-marker-symbol" ng-model="marker.symbol" class="form-control" fm-icon-picker></div>
		</div>

		<div class="form-group" ng-repeat="field in client.types[marker.typeId].fields">
			<label for="marker-{{$index}}-input" class="col-sm-3 control-label">{{field.name}}</label>
			<div class="col-sm-9" fm-type-field="field" fm-type-field-model="marker.data[field.name]" fm-type-field-id="marker-{{$index}}-input"></div>
		</div>

		<button type="submit" class="hidden"></button>
	</form>
</div>
<div class="modal-footer">
	<div class="btn-group pull-left" uib-dropdown keyboard-nav="true" ng-if="(client.types | fmPropertyCount:{type:'marker'}) > 1">
		<button id="change-type-button" type="button" class="btn btn-default" uib-dropdown-toggle>Change type <span class="caret"></span></button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="change-type-button" uib-dropdown-menu>
			<li role="menuitem" ng-repeat="type in client.types | fmObjectFilter:{type:'marker'}" ng-class="{active: type.id == marker.typeId}"><a href="#" ng-click="marker.typeId = type.id">{{type.name}}</a></li>
		</ul>
	</div>

	<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
</div>