<div class="content container-fluid">
	<h2>{{marker.name}}</h2>
	<dl class="dl-horizontal">
		<dt class="pos">Coordinates</dt>
		<dd class="pos">{{marker.lat | fmRound:5}}, {{marker.lon | fmRound:5}}</dd>

		<dt class="elevation" ng-if="marker.ele != null">Elevation</dt>
		<dd class="elevation" ng-if="marker.ele != null">{{marker.ele}} m</dd>

		<dt ng-repeat-start="field in client.types[marker.typeId].fields">{{field.name}}</dt>
		<dd ng-repeat-end fm-type-field-content="field" fm-type-field-model="marker.data[field.name]"></dd>
	</dl>
</div>
<div class="buttons" ng-if="!readonly">
	<button type="button" class="btn btn-default btn-sm" ng-click="edit()">Edit</button>
	<button type="button" class="btn btn-default btn-sm" ng-click="move()">Move</button>
	<button type="button" class="btn btn-default btn-sm" ng-click="confirm('Do you really want to remove the marker “' + marker.name + '”?') && delete()">Remove</button>
	<div ng-if="map.searchUi" uib-dropdown keyboard-nav="true" class="dropup">
		<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>Use as <span class="caret"></span></button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu">
			<li role="menuitem"><a href="javascript:" ng-click="useForRoute(1)">Route start</a></li>
			<li role="menuitem"><a href="javascript:" ng-click="useForRoute(2)">Route via</a></li>
			<li role="menuitem"><a href="javascript:" ng-click="useForRoute(3)">Route destination</a></li>
		</ul>
	</div>
</div>