<div class="content container-fluid">
	<h2>{{marker.name}}</h2>
	<dl class="dl-horizontal">
		<dt class="pos">Coordinates</dt>
		<dd class="pos">{{marker.lat | fmRound:5}}, {{marker.lon | fmRound:5}}</dd>

		<dt class="elevation" ng-if="marker.ele != null">Elevation</dt>
		<dd class="elevation" ng-if="marker.ele != null">{{marker.ele}} m</dd>

		<dt ng-repeat-start="field in types[marker.typeId].fields">{{field.name}}</dt>
		<dd ng-repeat-end fm-type-field-content="field" fm-type-field-model="marker.data[field.name]"></dd>
	</dl>
</div>
<div class="buttons" ng-if="!readonly">
	<button type="button" class="btn btn-default" ng-click="edit()">Edit</button>
	<button type="button" class="btn btn-default" ng-click="move()">Move</button>
	<button type="button" class="btn btn-default" ng-click="confirm('Do you really want to remove the marker “' + marker.name + '”?') && delete()">Remove</button>
</div>