<div class="modal-header">
	<button ng-if="!noCancel" type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">{{create ? 'Start collaborative map' : 'Map settings'}}</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" ng-submit="!writeError && !readError && save()">
		<div uib-alert class="alert-danger" ng-show="error">{{error.message || error}}</div>

		<div class="form-group" ng-class="{'has-error': !!adminError}">
			<label for="pad-link-input" class="col-sm-3 control-label">Admin Link</label>
			<div class="col-sm-9">
				<div class="input-group">
					<span class="input-group-addon">{{urlPrefix}}</span>
					<input id="admin-link-input" ng-model="padData.adminId" class="form-control" />
					<span class="input-group-btn" ng-if="!create">
						<button type="button" class="btn btn-default" ng-click="copy(urlPrefix + padData.adminId)">Copy</button>
					</span>
				</div>
				<span class="help-block" ng-if="adminError">{{adminError}}</span>
				<p class="help-block">When opening the map through this link, all parts of the map can be edited, including the map settings, object types and views.</p>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error': !!writeError}">
			<label for="pad-link-input" class="col-sm-3 control-label">Editable Link</label>
			<div class="col-sm-9">
				<div class="input-group">
					<span class="input-group-addon">{{urlPrefix}}</span>
					<input id="pad-link-input" ng-model="padData.writeId" class="form-control" />
					<span class="input-group-btn" ng-if="!create">
						<button type="button" class="btn btn-default" ng-click="copy(urlPrefix + padData.writeId)">Copy</button>
					</span>
				</div>
				<span class="help-block" ng-if="writeError">{{writeError}}</span>
				<p class="help-block">When opening the map through this link, markers and lines can be added, changed and deleted, but the map settings, object types and views cannot be modified.</p>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error': !!readError}">
			<label for="pad-rolink-input" class="col-sm-3 control-label">Read-only link</label>
			<div class="col-sm-9">
				<div class="input-group">
					<span class="input-group-addon">{{urlPrefix}}</span>
					<input id="pad-rolink-input" ng-model="padData.id" class="form-control" />
					<span class="input-group-btn" ng-if="!create">
						<button type="button" class="btn btn-default" ng-click="copy(urlPrefix + padData.id)">Copy</button>
					</span>
				</div>
				<span class="help-block" ng-if="readError">{{readError}}</span>
				<p class="help-block">When opening the map through this link, markers, lines and views can be seen, but nothing can be changed.</p>
			</div>
		</div>

		<div class="form-group">
			<label for="pad-name-input" class="col-sm-3 control-label">Map name</label>
			<div class="col-sm-9"><input id="pad-name-input" ng-model="padData.name" class="form-control" /></div>
		</div>

		<div class="form-group">
			<label for="search-engines-input" class="col-sm-3 control-label">Accessible for search engines</label>
			<div class="col-sm-9">
				<input type="checkbox" id="search-engines-input" ng-model="padData.searchEngines" />
				<p class="help-block">If this is enabled, search engines like Google will be allowed to add the read-only version of this map.</p>
			</div>
		</div>

		<div class="form-group" ng-show="padData.searchEngines">
			<label for="description-input" class="col-sm-3 control-label">Short description</label>
			<div class="col-sm-9">
				<input id="description-input" ng-model="padData.description" class="form-control" />
				<p class="help-block">This description will be shown under the result in search engines.</p>
			</div>
		</div>

		<div class="form-group">
			<label for="cluster-markers-input" class="col-sm-3 control-label">Cluster markers</label>
			<div class="col-sm-9">
				<input type="checkbox" id="cluster-markers-input" ng-model="padData.clusterMarkers" />
				<p class="help-block">If enabled, when there are many markers in one area, they will be replaced by a placeholder at low zoom levels. This improves performance on maps with many markers.</p>
			</div>
		</div>

		<div class="form-group">
			<label for="legend1-input" class="col-sm-3 control-label">Legend text</label>
			<div class="col-sm-9">
				<textarea id="legend1-input" ng-model="padData.legend1" class="form-control"></textarea>
				<textarea id="legend2-input" ng-model="padData.legend2" class="form-control"></textarea>
				<p class="help-block">Text that will be shown above and below the legend. Can be formatted with <a href="http://commonmark.org/help/" target="_blank">Markdown</a>.</p>
			</div>
		</div>

		<button type="submit" class="hidden"></button>
	</form>
</div>
<div class="modal-footer">
	<button ng-if="!noCancel" type="button" class="btn btn-default" ng-click="$dismiss()" ng-disabled="saving">{{create || isModified ? 'Cancel' : 'Close'}}</button>
	<button ng-show="create || isModified" type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="writeError || readError || saving">{{create ? 'Create' : 'Save'}}</button>
</div>