<div class="modal-header">
	<button class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">{{create ? 'Start collaborative map' : 'Map settings'}}</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<div uib-alert class="alert-danger" ng-show="error">{{error}}</div>
		
		<div class="form-group">
			<label for="pad-link-input" class="col-sm-3 control-label">Edit-only Link</label>
			<div class="col-sm-9">
				<div class="input-group">
					<span class="input-group-addon">{{urlPrefix}}</span>
					<input id="pad-link-input" ng-model="writeId" class="form-control" />
					<span class="input-group-btn" ng-if="!create">
						<button class="btn btn-default" ng-click="copy(urlPrefix + writeId)">Copy</button>
					</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="pad-rolink-input" class="col-sm-3 control-label">Read-only link</label>
			<div class="col-sm-9">
				<div class="input-group">
					<span class="input-group-addon">{{urlPrefix}}</span>
					<input id="pad-rolink-input" ng-model="readId" class="form-control" />
					<span class="input-group-btn" ng-if="!create">
						<button class="btn btn-default" ng-click="copy(urlPrefix + readId)">Copy</button>
					</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="pad-name-input" class="col-sm-3 control-label">Map name</label>
			<div class="col-sm-9"><input id="pad-name-input" ng-model="padName" class="form-control" /></div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="save()">{{create ? 'Create' : 'Save'}}</button>
</div>