html,body {
	overflow: hidden;
}

#map,#map-disabled-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#map.fp-overFeature {
	cursor: pointer;
}

#map.fp-clickHandler {
	cursor: crosshair;
}

#map-disabled-cover {
	background-color: #888;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}

#toolbox {
	position: absolute;
	top: 10px;
	right: 10px;
}

.error,.success,.warning,.info {
	padding: 8px;
	border-radius: 3px;
	border: 1px solid;
	font-weight: bold;
}

.error {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}

.success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}

dl {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	line-height: 2em;
}

dt {
	float: left;
	clear: left;
	font-weight: bold;
	margin: 5px 0 0 0;
	padding: 0;
	width: 30%;
}

dd {
	width: 70%;
	margin: 5px 0 0 30%;
	padding: 0;
}

dd input, dd textarea {
	width: 100%;
}

dd input.inline {
	width: 10em;
}

dl:after {
	clear: left;
	display: block;
	content: " ";
}

label.disabled {
	color: #888;
}

tr.selected td {
	font-weight: bold;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

table td.button {
	width: 1px;
	white-space: nowrap;
}

table td.button button {
	white-space: nowrap;
}

table.border td, table.border th {
	border: 1px solid #ddd;
	padding: .5em;
}

table.border thead {
	background-color: #f8f8f8;
}

table.border input, table.border textarea, table.border select {
	width: 100%;
	box-sizing: border-box;
}

#messages {
	position: absolute;
	top: 10px;
	width: 50%;
	left: 25%;
}

#messages p {
	font-size: 1.5em;
	margin:0 0 10px 0;
	position: relative;
	box-shadow: 0 0 15px;
	border-radius: 5px;
}

#messages .close-button {
	position: absolute;
	top: 5px;
	right: 5px;
	color: inherit;
	text-decoration: none;
}

textarea {
	height: 5em;
}

.fp-popup {
	background: #fff;
	position:absolute;
	width: 350px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 0 0 10px #888;
}

.fp-popup-hidden {
	display: none;
}

.fp-popup .content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5px 10px 2.1em 10px;
	overflow: auto;
}

.fp-popup:before {
	content: "";
	position: absolute;
	border: 0;
	border-style: solid;
	border-color: transparent #fff;
	display: block;
	width: 0;
}

.fp-popup-bottom {
	margin-top: 50px;
}

.fp-popup-bottom:before {
	top: -50px;
	border-top-width: 50px;
}

.fp-popup-right {
	margin-left: -30px;
}

.fp-popup-right:before {
	left: 30px;
	border-left-width: 15px;
}

.fp-popup-top {
	margin-top: -264px;
}

.fp-popup-top:before {
	bottom: -50px;
	border-bottom-width: 50px;
}

.fp-popup-left {
	margin-left: -319px;
}

.fp-popup-left:before {
	right: 30px;
	border-right-width: 15px;
}

.fp-popup .buttons {
	position: absolute;
	background: #fff;
	bottom: 0;
	left: 10px;
	right: 10px;
	padding: 5px 0;
	box-shadow: 0 0 10px #fff;
}

.fp-popup .close-button {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 1.5em;
	font-weight: bold;
	color: inherit;
	text-decoration: none;
}

.pos,.distance {
	font-style: italic;
}

#edit-line-colour {
	width: auto;
}

#colour-picker {
	background: #fafafa;
	width: 171px;
	padding: 5px;
	border: 1px solid #666;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	list-style-type: none;
	margin: 0;
	position: absolute;
}

#colour-picker li {
	display: inline-block;
	margin: 2px;
	width: 13px;
	height: 13px;
	padding: 0;
	cursor: pointer;
	border: 1px solid #aaa;
}

#colour-picker li:hover {
	border-color: #000;
}


/********* z-index **************/

/* jQuery popup has a z-index of 100 */
/* OpenLayers Controls have z-index: 1008 (inside the map viewport) */

#map-disabled-cover {
	z-index: 10001;
}

#messages {
	z-index: 10002;
}

#colour-picker {
	z-index: 150;
}

#map .fp-popup {
	z-index: 1007;
}