# HTTP requests made by the backend will send this User-Agent header. Please adapt to your URL and e-mail address.
#USER_AGENT=FacilMap (https://facilmap.org/, cdauth@cdauth.eu)

# On which IP the HTTP server will listen. Leave empty to listen to all IPs.
#HOST=
# On which port the HTTP server will listen.
#PORT=8080

# Database configuration. DB_TYPE can be mysql, postgres, sqlite or mssql.
# See https://sequelize.org/master/class/lib/sequelize.js~Sequelize.html#instance-constructor-constructor for details.
#DB_TYPE=mysql
#DB_HOST=localhost
#DB_PORT=
#DB_NAME=facilmap
#DB_USER=facilmap
#DB_PASSWORD=facilmap

# OpenRouteService is used for calculating routes with advanced settings
# Get a token on https://go.openrouteservice.org/
#ORS_TOKEN=

# MapBox is used for calculating routes with simple settings
# Get an API key on https://www.mapbox.com/signup/
#MAPBOX_TOKEN=

# MapZen is used for getting elevation information
# Get an API key on https://mapzen.com/developers/sign_up
#MAPZEN_TOKEN=

# Maxmind configuration. If specified, the maxmind GeoLite2 database will be downloaded
# for Geo IP lookup (to show the initial map state) and kept in memory.
# Sign up here: https://www.maxmind.com/en/geolite2/signup
#MAXMIND_USER_ID=
#MAXMIND_LICENSE_KEY=