#map {
	height: 100%;
}

#map.fp-overFeature {
	cursor: pointer;
}

#map.fp-clickHandler {
	cursor: crosshair;
}

.fp-map {
	position: relative;
}

.fp-almostover {
	cursor: pointer !important;
}

.fp-map-disabled-cover {
	background-color: #888;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fp-map-loading {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:10px;
	background: #fff;
	z-index:100000;
	font-size:1.5em;
	font-weight:bold;
}

.olMap .fmControlLoading {
	top: auto;
	bottom: 7px;
	left: 102px;
	right: auto;
}

.olMap .fmControlScaleLine {
	left: 0;
	right: 0;
	bottom: 3px;
	margin-left: auto;
	margin-right: auto;
}

.olMap .olControlMousePosition {
	left: 3px;
	right: auto;
}


.fp-map-label {
	position: absolute;
	background-color: #fff;
	z-index: 1010;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 3px 6px;
	opacity: .7;
	font-weight: bold;
}

.fp-attribution-icon {
	position: absolute;
	bottom: -45px;
	left: -37px;
}

.fp-popup .content {
	padding-bottom: 1.5em;
}

.fp-popup .buttons {
	position: absolute;
	background: #fff;
	bottom: 0;
	left: 0;
	right: 15px;
	padding: 5px 10px;
	box-shadow: 0 0 10px #fff;
	border-bottom-left-radius: 10px;
}

.pos,.distance {
	color: #888;
}