.fm-toolbox {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: .5;
	transition: opacity .7s;
}

.fm-toolbox:hover {
	opacity: 1;
}

.fm-toolbox .mobile-menu-button {
	margin-left: auto;
}

.fm-toolbox .navbar {
	margin-bottom: 0; /* So that the legend can calculate the height of the toolbox properly */
}

.fm-toolbox a.disabled {
	color: #aaa !important;
}

@media print {
	.fm-toolbox {
		display: none;
	}
}