<div class="modal-header">
	<button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">About FacilMap</h3>
</div>
<div class="modal-body">
	<p>FacilMap is available under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">GNU Affero General Public License, Version 3</a>. The source code can be found <a href="https://github.com/FacilMap/facilmap2" target="_blank">on GitHub</a>.</p>
	<h4>Programs/libraries</h4>
	<ul class="list-inline">
		<li><a href="https://nodejs.org/" target="_blank">Node.js</a></li>
		<li><a href="http://sequelizejs.com/" target="_blank">Sequelize</a></li>
		<li><a href="http://socket.io/" target="_blank">socket.io</a></li>
		<li><a href="https://bower.io/" target="_blank">Bower</a></li>
		<li><a href="http://gulpjs.com/" target="_blank">gulp.js</a></li>
		<li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
		<li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
		<li><a href="https://github.com/chjj/marked" target="_blank">Marked</a></li>
		<li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
		<li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">AngularUI Bootstrap</a></li>
		<li><a href="http://leafletjs.com/" target="_blank">Leaflet</a></li>
		<li><a href="http://project-osrm.org/" target="_blank">OSRM</a></li>
		<li><a href="https://nominatim.openstreetmap.org/" target="_blank">Nominatim</a></li>
	</ul>
	<h4>Icons</h4>
	<ul class="list-inline">
		<li><a href="https://glyphicons.com/" target="_blank">Glyphicons</a></li>
		<li><a href="https://zavoloklom.github.io/material-design-iconic-font/index.html" target="_blank">Material Design Iconic Font</a></li>
		<li><a href="http://fontello.com/" target="_blank">Fontello</a></li>
	</ul>
	<h4>Map data</h4>
	<dl class="dl-horizontal">
		<dt ng-repeat-start="layer in layers.base.concat(layers.overlay)" ng-if="layer.attribution">{{layer.name}}</dt>
		<dd ng-repeat-end ng-bind-html="layer.attribution" ng-if="layer.attribution"></dd>

		<dt>Search</dt>
		<dd><a href="https://nominatim.openstreetmap.org/" target="_blank">Nominatim</a> / <a href="http://www.openstreetmap.org/copyright" target="_blank">OSM Contributors</a></dd>

		<dt>Directions</dt>
		<dd><a href="https://www.mapbox.com/api-documentation/#directions">Mapbox Directions API</a> / <a href="http://www.openstreetmap.org/copyright" target="_blank">OSM Contributors</a></dd>
	</dl>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>