.fm-route-form {
	display: flex;
	flex-direction: column;
	min-height: 0;

	.form-group {
		margin-bottom: 0;

		&.active .input-group {
			box-shadow: 0 0 3px;
			border-radius: 0.25rem;
		}
	}

	hr.fm-route-form-hover-insert {
		margin: 0.1rem -0.5rem;
		width: auto;
		border-width: 2px;
		border-color: inherit;
		border-top-style: dashed;

		&:not(.active) {
			border-color: transparent;
		}
	}
}

.fm-route-suggestions.show {
	display: grid !important;
	grid-template-columns: auto 1fr;

	&.isPending {
		display: flex !important;
		align-items: center;
		justify-content: center;
	}

	.dropdown-item {
		padding: 0.25rem 0.75rem 0.25rem 0.25rem;
	}

	.fm-route-form-suggestions-zoom .dropdown-item {
		padding: 0.25rem 0.25rem 0.25rem 0.75rem;
	}

	.fm-route-form-suggestions-divider {
		grid-column: 1 / span 2;
	}
}