html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.checkbox.disabled label {
	color: #aaa;
}

.td-buttons {
	white-space: nowrap;
	width: 1px;
}

.modal-fs {
	width: 95%;
}

textarea,textarea.form-control {
	height: 8em;
}