/* bootstrap popups have a z-index of 1050 (1060, 1070... for overlaying popups) */
/* bootstrap popovers have a z-index of 1060, tooltips 1070 (makes no sense...) */
/* OpenLayers Controls have z-index: 1008 (inside the map viewport) */

.fm-map-disabled-cover {
	z-index: 10001;
}

.messages {
	z-index: 10002;
}

#colour-picker,#icon-picker {
	z-index: 1500;
}

#map .fm-popup {
	z-index: 1007;
}

.fm-toolbox {
	z-index: 1020;
}

.fm-map-spinner,.fm-attribution-icon {
	z-index: 20000;
}

.fm-search {
	z-index: 1010;
}

.dropdown-menu {
	z-index: 2000;
}

.tooltip {
	z-index: 3000;
}