:local(.className)  {
	position: absolute;
	right: 10px;
	bottom: 25px;
	z-index: 800;

	font-size: 12px;

	opacity: .7;
	transition: opacity .7s,transform .7s;
	transform-origin: bottom right;

	&:hover {
		opacity: 1;
	}

	box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
	margin-bottom: 0;

	width: 350px;
	height: 200px;

	.panel-body {
		padding: 0;
		height: 100%;

		.close-button {
			position: absolute;
			top: 0;
			right: 5px;
			color: #000;
			text-decoration: none;
			font-size: 1.5em;
			line-height: 1em;
			font-weight: bold;
		}

		.html {
			height: 100%;

			/* http://stackoverflow.com/a/1939980/242365 */
			overflow: hidden;

			.content {
				height: calc(100% - 47px);
				overflow: auto;

				/* Replace padding by margin to move horizontal scrollbar a bit to the left so that it can be covered by .buttons */
				/* Make space for close button on the top and don't cover round corners on top and bottom */
				margin: 2px 0 28px 0;
				padding: 15px;

				h2 {
					margin-top: 0;
					font-size: 1.6em;
				}

				/* Copy dl-horizontal styles, modify sizing, also apply for small screens (as popup size is always the same) */
				.dl-horizontal dt {
					float: left;
					width: 29%;
					overflow: hidden;
					clear: left;
					text-align: right;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.dl-horizontal dd {
					margin-left: 33%;
				}

				.pos,.distance,.elevation {
					color: #888;
				}
			}
		}

		.buttons {
			position: absolute;
			background: #fff;
			bottom: 0;
			left: 15px;
			right: 16px;
			padding: 5px 0;
			box-shadow: 0 0 10px #fff;
			border-bottom-left-radius: 10px;

			div {
				display: inline-block;
			}
		}
	}

	.ui-resizable-handle {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-20%,-20%) rotate(45deg);
		cursor: nwse-resize;
		font-size: 15px;
		border: 1px solid #ddd;
		border-radius: 1000px;
		display: inline-block;
		background: #fff;
		line-height: 25px;
		width: 25px;
		height: 25px;
		text-align: center;
		vertical-align: middle;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
		color: #666;
		opacity: 0.5;
		transition: opacity .7s;
	}
}

.fm-map-legend.fm-infoBox-hidden {
	visibility: hidden;
}