.fm-route-mode {
	.btn-group .btn {
		padding-left: 10px;
		padding-right: 10px;
	}

	.dropdown-menu {
		width: 380px;
		font-size: 0; /* https://stackoverflow.com/a/5647640/242365 */

		li {
			font-size: 14px;

			&.column {
				display: inline-block;
				width: 50%;
			}
		}
	}
}