<div class="modal-header">
	<button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Edit {{field.type == 'checkbox' ? 'checkbox' : 'dropdown'}}</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" ng-submit="save()">
		<div class="checkbox" ng-class="{disabled: !canControl('colour')}">
			<label>
				<input type="checkbox" ng-model="field.controlColour" ng-disabled="!canControl('colour')">
				Control {{type.type}} colour
			</label>
		</div>
		<div class="checkbox" ng-if="type.type == 'marker'" ng-class="{disabled: !canControl('size')}">
			<label>
				<input type="checkbox" ng-model="field.controlSize" ng-disabled="!canControl('size')">
				Control {{type.type}} size
			</label>
		</div>
		<div class="checkbox" ng-if="type.type == 'marker'" ng-class="{disabled: !canControl('symbol')}">
			<label>
				<input type="checkbox" ng-model="field.controlSymbol" ng-disabled="!canControl('symbol')">
				Control {{type.type}} icon
			</label>
		</div>
		<div class="checkbox" ng-if="type.type == 'marker'" ng-class="{disabled: !canControl('shape')}">
			<label>
				<input type="checkbox" ng-model="field.controlShape" ng-disabled="!canControl('shape')">
				Control {{type.type}} shape
			</label>
		</div>
		<div class="checkbox" ng-if="type.type == 'line'" ng-class="{disabled: !canControl('width')}">
			<label>
				<input type="checkbox" ng-model="field.controlWidth" ng-disabled="!canControl('width')">
				Control {{type.type}} width
			</label>
		</div>
		<table class="table table-striped" ng-if="field.type != 'checkbox' || field.controlColour || field.controlSize || field.controlSymbol || field.controlShape || field.controlWidth">
			<thead>
				<tr>
					<th>Option</th>
					<th ng-if="field.controlColour">Colour</th>
					<th ng-if="field.controlSize">Size</th>
					<th ng-if="field.controlSymbol">Icon</th>
					<th ng-if="field.controlWidth">Width</th>
					<th ng-if="field.type != 'checkbox'"></th>
					<th ng-if="field.type != 'checkbox'" class="move"></th>
				</tr>
			</thead>
			<tbody ui-sortable="sortableOptions" ng-model="field.options">
				<tr ng-repeat="option in field.options">
					<td>
						<input ng-if="field.type != 'checkbox'" type="text" ng-model="option.value" class="form-control">
						<strong ng-if="field.type == 'checkbox'">{{option.value == '1' ? '✔' : '✘'}}</strong>
					</td>
					<td ng-if="field.controlColour"><input type="text" ng-model="option.colour" fm-colour-picker class="form-control"></td>
					<td ng-if="field.controlSize"><input type="text" ng-model="option.size" fm-spinner fm-spinner-min="15" class="form-control"></td>
					<td ng-if="field.controlSymbol"><input type="text" ng-model="option.symbol" fm-icon-picker class="form-control"></td>
					<td ng-if="field.controlShape"><input type="text" ng-model="option.shape" fm-shape-picker class="form-control"></td>
					<td ng-if="field.controlWidth"><input type="text" ng-model="option.width" fm-spinner class="form-control"></td>
					<td ng-if="field.type != 'checkbox'" class="td-buttons"><button type="button" ng-click="confirm('Do you really want to delete the option “' + option.value + '”?') && deleteOption(option)" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button></td>
					<td ng-if="field.type != 'checkbox'" class="td-buttons move"><a href="javascript:" class="btn btn-default sort-handle"><span class="glyphicon glyphicon-resize-vertical"></span></a></td>
				</tr>
			</tbody>
			<tfoot ng-if="field.type != 'checkbox'">
				<tr>
					<td><button type="button" ng-click="addOption()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></td>
				</tr>
			</tfoot>
		</table>

		<button type="submit" class="hidden"></button>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
	<button type="submit" class="btn btn-primary" ng-click="save()">OK</button>
</div>