<div class="modal-header">
	<button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Object types</h3>
</div>
<div class="modal-body">
	<div uib-alert class="alert-danger" ng-show="error">{{error}}</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="type in types">
				<td>{{type.name}}</td>
				<td>{{type.type}}</td>
				<td class="td-buttons">
					<button type="button" ng-click="edit(type)" class="btn btn-default">Edit</button>
					<button type="button" ng-click="delete(type)" class="btn btn-default">Delete</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3"><button type="button" ng-click="create()" class="btn btn-default">Create</button></td>
			</tr>
		</tfoot>
	</table>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>