<div class="modal-header">
	<button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Edit object type</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" ng-submit="save()">
		<div uib-alert class="alert-danger" ng-show="error">{{error.message || error}}</div>

		<div class="form-group">
			<label for="type-name-input" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9"><input id="type-name-input" type="text" ng-model="type.name" class="form-control" /></div>
		</div>

		<div class="form-group" ng-class="{disabled:!canControlColour}">
			<label for="type-type-input" class="col-sm-3 control-label">Type</label></dt>
			<div class="col-sm-9"><select id="type-type-input" ng-model="type.type" ng-disabled="type.id != null" class="form-control">
				<option value="marker">Marker</option>
				<option value="line">Line</option>
			</select></div>
		</div>

		<div class="form-group" ng-class="{disabled:!(canControlColour = canControl('colour'))}">
			<label for="type-colour-input" class="col-sm-3 control-label">Default colour</label>
			<div class="col-sm-7">
				<input id="type-colour-input" ng-model="type.defaultColour" ng-disabled="!canControlColour" fm-colour-picker class="form-control">
			</div>
			<div class="checkbox col-sm-2">
				<label>
					<input type="checkbox" ng-model="type.colourFixed" ng-disabled="!canControlColour"> Fixed
				</label>
			</div>
		</div>

		<div class="form-group" ng-if="type.type == 'marker'" ng-class="{disabled:!(canControlSize = canControl('size'))}">
			<label for="type-size-input" class="col-sm-3 control-label">Default size</label>
			<div class="col-sm-7">
				<input id="type-size-input" ng-model="type.defaultSize" ng-disabled="!canControlSize" fm-spinner fm-spinner-min="15" class="form-control">
			</div>
			<div class="checkbox col-sm-2">
				<label>
					<input type="checkbox" ng-model="type.sizeFixed" ng-disabled="!canControlSize"> Fixed
				</label>
			</div>
		</div>

		<div class="form-group" ng-if="type.type == 'marker'" ng-class="{disabled:!(canControlSymbol = canControl('symbol'))}">
			<label for="type-symbol-input" class="col-sm-3 control-label">Default icon</label>
			<div class="col-sm-7">
				<input id="type-symbol-input" ng-model="type.defaultSymbol" ng-disabled="!canControlSymbol" fm-icon-picker class="form-control">
			</div>
			<div class="checkbox col-sm-2">
				<label>
					<input type="checkbox" ng-model="type.symbolFixed" ng-disabled="!canControlSymbol"> Fixed
				</label>
			</div>
		</div>

		<div class="form-group" ng-if="type.type == 'marker'" ng-class="{disabled:!(canControlShape = canControl('shape'))}">
			<label for="type-shape-input" class="col-sm-3 control-label">Default shape</label>
			<div class="col-sm-7">
				<input id="type-shape-input" ng-model="type.defaultShape" ng-disabled="!canControlShape" fm-shape-picker class="form-control">
			</div>
			<div class="checkbox col-sm-2">
				<label>
					<input type="checkbox" ng-model="type.shapeFixed" ng-disabled="!canControlShape"> Fixed
				</label>
			</div>
		</div>

		<div class="form-group" ng-if="type.type == 'line'" ng-class="{disabled:!(canControlWidth = canControl('width'))}">
			<label for="type-width-input" class="col-sm-3 control-label">Default width</label>
			<div class="col-sm-7">
				<input id="type-width-input" ng-model="type.defaultWidth" ng-disabled="!canControlWidth" fm-spinner class="form-control">
			</div>
			<div class="checkbox col-sm-2">
				<label>
					<input type="checkbox" ng-model="type.widthFixed" ng-disabled="!canControlWidth"> Fixed
				</label>
			</div>
		</div>

		<div class="form-group" ng-if="type.type == 'line'" ng-class="{disabled:!(canControlMode = canControl('mode'))}">
			<label for="type-mode-input" class="col-sm-3 control-label">Default routing mode</label>
			<div class="col-sm-7">
				<select id="type-mode-input" ng-model="type.defaultMode" ng-disabled="!canControlMode" class="form-control">
					<option value="">None</option>
					<option value="car">Car</option>
					<option value="bicycle">Bicycle</option>
					<option value="pedestrian">Pedestrian</option>
				</select>
			</div>
			<div class="checkbox col-sm-2">
				<label>
					<input type="checkbox" ng-model="type.modeFixed" ng-disabled="!canControlMode"> Fixed
				</label>
			</div>
		</div>

		<h2>Fields</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Default value</th>
					<th>Delete</th>
					<th class="move"></th>
				</tr>
			</thead>
			<tbody ui-sortable="sortableOptions" ng-model="type.fields">
				<tr ng-repeat="field in type.fields">
					<td><input type="text" ng-model="field.name" class="form-control" /></td>
					<td>
						<div class="input-group" ng-if="field.type == 'dropdown'">
							<select ng-model="field.type" class="form-control">
								<option value="input">Text field</option>
								<option value="textarea">Text area</option>
								<option value="dropdown">Dropdown</option>
								<option value="checkbox">Checkbox</option>
							</select>
							<span class="input-group-btn"><button type="button" ng-click="editDropdown(field)" class="btn btn-default">Edit</button></span>
						</div>
						<select ng-if="field.type != 'dropdown'" ng-model="field.type" class="form-control">
							<option value="input">Text field</option>
							<option value="textarea">Text area</option>
							<option value="dropdown">Dropdown</option>
							<option value="checkbox">Checkbox</option>
						</select>
					</td>
					<td fm-type-field="field" fm-type-field-model="field.default" fm-type-field-ignore-default></td>
					<td class="td-buttons"><button type="button" ng-click="confirm('Do you really want to delete the field “' + field.name + '”?') && deleteField(field)" class="btn btn-default">Delete</button></td>
					<td class="move td-buttons"><a href="javascript:" class="btn btn-default sort-handle"><span class="glyphicon glyphicon-resize-vertical"></span></a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4"><button type="button" ng-click="createField()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></td>
					<td class="move"></td>
				</tr>
			</tfoot>
		</table>

		<button type="submit" class="hidden"></button>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
	<button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
</div>