.fm-search-form {
	display: flex;
	flex-direction: column;
	min-height: 0;
}

:local(.className) {

	width: 70vw;
	max-width: 365px;
	max-height: 50vh;

	display: flex;
	flex-direction: column;

	min-height: 42px;
	min-width: 260px;

	&.has-nothing {
		min-height: 104px;
	}

	&.has-search-results {
		min-height: 180px;

		&.has-map-results {
			min-height: 343px;
		}
	}

	&.has-map-results {
		min-height: 184px;
	}

	&.fm-search-resized {
		max-width: none;
		max-height: calc(100vh - 130px);
	}

	.fm-search-results,.fm-map-results {
		overflow: auto;
		white-space: nowrap;
		flex-grow: 1;
		min-height: 105px;
	}

	.no-results {
		margin: 10px 0 0;
	}

	.active a {
		color: inherit;
	}

	.form-group {
		margin-bottom: 7px;
	}

	hr {
		width: 100%;
		margin: 10px 0;
	}

	h3 {
		margin-top: 5px;
		font-size: 20px;
	}
}