h2[aria-expanded=true] svg {
	transform: rotate(90deg);
}

table {
	table-layout: fixed;
	width: auto !important;
}

th,td {
	box-sizing: content-box !important;
	overflow: hidden;
}

.glyphicon:before {
	content: none;
}

.glyphicon-chevron-down {
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%226.812%22%3E%3Cpath%20d%3D%22M10%201.807L5.005%206.812%200%201.807%201.798%200l3.207%203.206L8.21%200z%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
}

.glyphicon-chevron-up {
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%226.812%22%3E%3Cpath%20d%3D%22M10%205.005L5.005%200%200%205.005l1.798%201.807%203.207-3.206L8.21%206.812z%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
}