.fm-colour-field {
	.popover-body {
		display: grid;
		grid-template: 100px 15px auto / auto;
		gap: 15px;
	}

	.vc-saturation {
		position: relative;
		height: 100px;
	}

	.vc-hue {
		position: static;
		height: 15px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(9, 15px);
		grid-auto-rows: 15px;
		gap: 5px;

		li {
			display: flex;
		}

		a {
			flex-grow: 1;
			border-radius: 3px;
			box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%);
		}
	}
}