.fm-open-map {
	.modal-body {
		display: flex;
		flex-direction: column;
		min-height: 0;
	}

	hr {
		width: 100%;
	}

	.results {
		min-height: 0;
		display: flex;
		flex-direction: column;

		.alert, .table-wrapper {
			margin-top: 1rem;
		}

		.table-wrapper {
			overflow: auto;
			min-height: 7rem;
		}
	}
}