<div class="content container-fluid">
	<h2>{{route.short_name}}</h2>

	<dl class="dl-horizontal">
		<dt class="distance">Distance</dt>
		<dd class="distance">{{route.distance | fpRound:2}} km ({{route.time | fpFormatTime}} h {{route.routeMode | fpRoutingMode}})</dd>
	</dl>
</div>
<div class="buttons" ng-if="!readonly">
	<div uib-dropdown ng-if="(types | fpPropertyCount:{type:'line'}) > 1">
		<button id="add-type-button" type="button" class="btn btn-default" uib-dropdown-toggle>Add to map <span class="caret"></span></button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="add-type-button" uib-dropdown-menu>
			<li role="menuitem" ng-repeat="type in types | fpObjectFilter:{type:'line'}"><a href="#" ng-click="addToMap(type)">{{type.name}}</a></li>
		</ul>
	</div>
	<button ng-if="(types | fpPropertyCount:{type:'line'}) == 1" class="btn btn-default" ng-click="addToMap()">Add to map</button>
</div>