<button type="button" class="btn btn-default visible-xs-block mobile-menu-button fm-search-mobile-toggle" ng-click="showXs = !showXs" uib-tooltip="{{showXs ? 'Hide search' : 'Show search'}}" tooltip-placement="right"><span class="glyphicon glyphicon-search"></span></button>
<div class="fm-search fm-search-search panel panel-default" ng-class="{'fm-hasResults': !!searchResults, 'hidden-xs': !showXs}">
	<div class="panel-body">
		<form ng-submit="search()">
			<div class="form-group">
				<div class="input-group">
					<div class="has-feedback">
						<input type="search" class="form-control" ng-model="searchString" placeholder="Search" tabindex="1" autofocus>
						<a href="javascript:" class="reset-button form-control-feedback" ng-click="searchString=''; search()" ng-show="searchString.length > 0"><span class="icon-clear"></span></a>
					</div>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" tabindex="2"><span class="glyphicon glyphicon-search"></span></button>
						<button type="button" class="btn btn-default" ng-click="showRoutingForm()" tabindex="3" uib-tooltip="Switch to routing form" tooltip-append-to-body="true"><span class="glyphicon glyphicon-road"></span></button>
					</span>
				</div>
			</div>
		</form>

		<div class="fm-search-results">
			<div uib-alert class="alert-danger no-results" ng-if="searchResults.length == 0">No results have been found.</div>
			<ul class="list-group" ng-if="searchResults.length > 0">
				<li ng-repeat="result in searchResults" class="list-group-item" ng-class="{active: activeResult === result}">
					<a href="javascript:" ng-click="showResult(result)">{{result.display_name}}</a>
					<span class="result-type" ng-if="result.type">({{result.type}})</span>
				</li>
			</ul>
		</div>
		<div class="fm-search-buttons" ng-show="searchResults.length > 1">
			<button type="button" class="btn btn-default" ng-model="showAll" uib-btn-checkbox>Show all</button>
		</div>
	</div>

	<a href="javascript:" class="fm-search-resize ui-resizable-handle ui-resizable-se"><span class="glyphicon glyphicon-resize-horizontal"></span></a>
</div>