<div class="fp-search fp-search-route panel panel-default" ng-class="{'fp-hasResults': routes.length > 0}">
	<div class="panel-body">
		<form ng-submit="reset(); route()" ui-sortable="sortableOptions" ng-model="destinations">
			<div class="form-group" ng-repeat="destination in destinations">
				<div class="input-group">
					<span class="input-group-addon">
						<a href="javascript:" class="sort-handle"><span class="glyphicon glyphicon-resize-vertical"></span></a>
						<a href="javascript:" ng-click="removeDestination($index)" ng-show="destinations.length > 2"><span class="glyphicon glyphicon-minus"></span></a>
					</span>
					<div class="has-feedback">
						<input type="search" class="form-control" ng-model="destination.query" placeholder="{{$index == 0 ? 'From' : $index == destinations.length-1 ? 'To' : 'Via'}}" tabindex="{{$index+1}}">
						<a href="javascript:" class="reset-button form-control-feedback" ng-click="destination.query=''" ng-show="destination.query.length > 0"><span class="icon-clear"></span></a>
					</div>
					<span class="input-group-btn" uib-dropdown ng-show="destination.query.length > 0">
						<button type="button" class="btn btn-default" uib-dropdown-toggle ng-click="loadSuggestions(destination)"><span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu" uib-dropdown-menu>
							<li ng-repeat="suggestion in destination.suggestions" ng-class="{active: destination.selectedSuggestionIdx == $index}"><a href="javascript:" ng-click="destination.selectedSuggestionIdx = $index; reroute()">{{suggestion.display_name}} ({{suggestion.type}})</a></li>
						</ul>
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="btn-toolbar">
					<button type="button" class="btn btn-default" ng-click="addDestination()"><span class="glyphicon glyphicon-plus"></span></button>

					<div class="btn-group">
						<button type="button" class="btn btn-default" uib-btn-radio="'car'" ng-model="routeMode" tabindex="{{destinations.length+1}}" ng-click="reroute()"><span class="icon-car"></span></button>
						<button type="button" class="btn btn-default" uib-btn-radio="'bicycle'" ng-model="routeMode" tabindex="{{destinations.length+2}}" ng-click="reroute()"><span class="icon-bicycle"></span></button>
						<button type="button" class="btn btn-default" uib-btn-radio="'pedestrian'" ng-model="routeMode" tabindex="{{destinations.length+3}}" ng-click="reroute()"><span class="icon-walk"></span></button>
					</div>

					<button type="submit" class="btn btn-primary" tabindex="{{destinations.length+4}}">Go!</button>

					<button type="button" class="btn btn-default pull-right active" ng-click="showSearchForm()"><span class="glyphicon glyphicon-road"></span></button>
				</div>
			</div>

			<div class="fp-search-results" ng-show="routeObj || routeError">
				<div uib-alert class="alert-danger no-results" ng-if="routeError">{{routeError}}</div>

				<dl ng-show="routeObj">
					<dt>Distance</dt>
					<dd>{{routeObj.distance | fpRound:2}} km <span ng-show="routeObj.time != null">({{routeObj.time | fpFormatTime}} h {{routeObj.routeMode | fpRoutingMode}})</span></dd>
				</dl>

				<div class="fp-search-buttons" ng-show="routeObj && !readonly">
					<div uib-dropdown ng-if="(types | fpPropertyCount:{type:'line'}) > 1" dropdown-append-to-body="true">
						<button id="add-type-button" type="button" class="btn btn-default" uib-dropdown-toggle>Add to map <span class="caret"></span></button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="add-type-button" uib-dropdown-menu>
							<li role="menuitem" ng-repeat="type in types | fpObjectFilter:{type:'line'}"><a href="#" ng-click="addToMap(type)">{{type.name}}</a></li>
						</ul>
					</div>
					<button ng-if="(types | fpPropertyCount:{type:'line'}) == 1" type="button" class="btn btn-default" ng-click="addToMap()">Add to map</button>
				</div>
			</div>
		</form>
	</div>
</div>