.leaflet-fmHighlightMarker-pane {
	z-index: 621;
}

.leaflet-fmHighlight-pane {
	z-index: 620;
}

.leaflet-fmHighlightShadow-pane {
	z-index: 619;
}

.leaflet-fmShadow-pane {
	z-index: 399;
}

.fm-almostover {
	cursor: pointer !important;
}
