<div class="fm-map-legend" ng-show="legendItems.length > 0">
	<div class="panel panel-default" ng-class="{'hidden-xs': !showXs}">
		<div class="panel-body">
			<hr ng-repeat-start="type in legendItems" ng-if="$index > 0">
			<h3 ng-click="toggleFilter(type)" ng-class="{ filtered: type.filtered }">{{type.name}}</h3>
			<dl ng-repeat-end>
				<dt ng-repeat-start="item in type.items" ng-class="thisClass = [ 'fm-' + type.type, { filtered: item.filtered } ]" ng-click="toggleFilter(type, item)" ng-bind-html="item | fmMapLegendMakeSymbol:type"></dt>
				<dd ng-repeat-end ng-class="thisClass" ng-click="toggleFilter(type, item)" ng-style="item.strikethrough ? {'text-decoration': 'line-through'} : {}">{{item.value}}</dd>
			</dl>
		</div>
	</div>
	<button type="button" class="btn btn-default visible-xs-block mobile-menu-button"  uib-btn-checkbox ng-model="showXs" uib-tooltip="{{showXs ? 'Hide legend' : 'Show legend'}}" tooltip-placement="left" tooltip-append-to-body="true"><span class="glyphicon glyphicon-info-sign"></span></button>
</div>