.fm-legend-content {

	font-size: 12px;

	.fm-legend1 > div > *:first-child {
		margin-top: 0;
	}

	.fm-legend2 > div > *:last-child {
		margin-bottom: 0;
	}
	
	h3 {
		font-size: 1.1em;
		margin: 0 0 5px 0;
		padding: 0;
		font-weight: bold;
		cursor: pointer;
	}
	
	hr {
		margin: 10px -8px;
	}
	
	&#{&}#{&} dl {
		display: block; // Override display: grid from search-box styles
		margin-bottom: 0px;
	}
	
	dt {
		margin: 0;
		width: auto;
		padding-right: 1ex;
		display: inline-block;
		cursor: pointer;
	}
	
	dt.fm-marker {
		width: 16px;
		text-align: center;
	}
	
	dt:after {
		content: none;
	}
	
	dd {
		line-height: 1.3em;
		width: auto;
		display: inline;
		vertical-align: middle;
		cursor: pointer;
	}
	
	dd:after {
		content: "\a";
		white-space: pre;
	}
	
	.first:not(:first-child) {
		margin-top: 6px;
	}
	
	dl:after {
		content: none;
	}
	
	.filtered {
		opacity: 0.5;
	}
}

.fm-legend-popover .popover-body {
	display: flex;
	align-items: center;

	p {
		margin: 0 0 0 0.5em;
	}
}

.fm-legend-symbol {
	&.fm-line > svg {
		border-radius: 1000px;
	}

	&.fm-line.bright > svg {
		box-shadow: 0 0 2px #000;
	}
}