<div class="modal-header">
	<button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Custom Import</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" ng-submit="save()">
		<div uib-alert class="alert-danger" ng-show="error">{{error.message || error}}</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Map to…</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(importTypeId, objectCount) in importTypeCounts">
					<td><label for="map-type-{{importTypeId}}">{{results.types[importTypeId].type == 'marker' ? 'Markers' : 'Lines'}} of type “{{results.types[importTypeId].name}}” ({{objectCount}})</label></td>
					<td><select id="map-type-{{importTypeId}}" ng-model="mapping[importTypeId]" class="form-control">
						<option ng-if="client.writable == 2 && importTypeId" ng-value="'i' + importTypeId">Import type “{{results.types[importTypeId].name}}”</option>
						<option ng-repeat="type in client.types" ng-if="type.name == results.types[importTypeId].name && type.type == results.types[importTypeId].type" ng-value="'e' + type.id">Existing type “{{type.name}}”</option>
						<option ng-value="false">Do not import</option>
						<option disabled>──────────</option>
						<option ng-repeat="(typeId, type) in results.types" ng-if="client.writable == 2 && type.type == results.types[importTypeId].type && typeId != importTypeId" ng-value="'i' + typeId">Import type “{{type.name}}”</option>
						<option ng-repeat="type in client.types" ng-if="type.type == results.types[importTypeId].type && type.name != results.types[importTypeId].name" ng-value="'e' + type.id">Existing type “{{type.name}}”</option>
					</select></td>
				</tr>
				<tr ng-if="untypedMarkers > 0">
					<td><label for="map-untyped-markers">Untyped markers ({{untypedMarkers}})</label></td>
					<td><select id="map-untyped-markers" ng-model="mapUntypedMarkers" class="form-control">
						<option ng-value="false">Do not import</option>
						<option ng-repeat="(typeId, type) in results.types" ng-if="client.writable == 2 && type.type == 'marker'" ng-value="'i' + typeId">Import type “{{type.name}}”</option>
						<option ng-repeat="type in client.types" ng-if="type.type == 'marker'" ng-value="'e' + type.id">Existing type “{{type.name}}”</option>
					</select></td>
				</tr>
				<tr ng-if="untypedLines > 0">
					<td><label for="map-untyped-lines">Untyped lines/polygons ({{untypedLines}})</label></td>
					<td><select id="map-untyped-lines" ng-model="mapUntypedLines" class="form-control">
						<option ng-value="false">Do not import</option>
						<option ng-repeat="(typeId, type) in results.types" ng-if="client.writable == 2 && type.type == 'line'" ng-value="'i' + typeId">Import type “{{type.name}}”</option>
						<option ng-repeat="type in client.types" ng-if="type.type == 'marker'" ng-value="'e' + type.id">Existing type “{{type.name}}”</option>
					</select></td>
				</tr>
			</tbody>
		</table>

		<button type="submit" class="hidden"></button>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
	<button type="submit" class="btn btn-primary" ng-click="save()">Import</button>
</div>