:local(.className) {

	width: 70vw;
	max-width: 365px;

	&.fm-search-resized {
		max-width: none;
	}

	.fm-search-results {
		max-height: 65vh;
		overflow: auto;
		white-space: nowrap;

		.fm-search.fm-hasResults & {
			min-height: 60px;
			min-width: 150px;
		}
	}

	.no-results {
		margin: 10px 0 0;
	}

	.active a {
		color: inherit;
	}

	.form-group {
		margin-bottom: 7px;
	}

	.fm-search-resize {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(20%,20%) rotate(45deg);
		cursor: nwse-resize;
		font-size: 15px;
		border: 1px solid #ddd;
		border-radius: 1000px;
		display: inline-block;
		background: #fff;
		line-height: 25px;
		width: 25px;
		height: 25px;
		text-align: center;
		vertical-align: middle;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
		color: #666;
		opacity: 0.5;
		transition: opacity .7s;

		.fm-search:not(:hover):not(.fm-hasResults):not(.fm-hasFocus) & {
			opacity: 0;
		}

		.fm-search:hover &,.fm-search.fm-hasFocus & {
			opacity: 1;
		}

		fm-icon svg {
			margin-top: 0;
		}
	}

}