<div class="fm-toolbox">
	<button type="button" class="btn btn-default visible-xs-block mobile-menu-button" ng-click="showXs = !showXs" uib-tooltip="{{showXs ? 'Hide menu' : 'Show menu'}}" tooltip-placement="left"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<nav class="navbar navbar-default" ng-class="{'hidden-xs': !showXs}">
		<div class="container-fluid" id="fm-toolbox-content">
			<ul class="nav navbar-nav">
				<li role="presentation" ng-if="!padId">
					<a href="javascript:" ng-click="startPad()">Start collaborative map</a>
				</li>
				<li role="presentation" uib-dropdown keyboard-nav="true" ng-if="!readonly && padId">
					<a href="javascript:" id="toolbox-add-dropdown" uib-dropdown-toggle role="button">Add <span class="caret"></span></a>
					<ul uib-dropdown-menu aria-labelledby="toolbox-add-dropdown">
						<li ng-repeat="type in types"><a href="javascript:" ng-click="addObject(type)">{{type.name}}</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="javascript:" ng-click="editObjectTypes()">Manage types</a></li>
					</ul>
				</li>
				<li role="presentation" uib-dropdown keyboard-nav="true" ng-if="padId && (!readonly || (views | fmPropertyCount) != 0)">
					<a href="javascript:" id="toolbox-views-dropdown" uib-dropdown-toggle role="button">Saved views <span class="caret"></span></a>
					<ul uib-dropdown-menu aria-labelledby="toolbox-views-dropdown">
						<li ng-repeat="(id, view) in views"><a href="javascript:" ng-click="displayView(view)">{{view.name}}</a></li>
						<li ng-if="!readonly" role="separator" class="divider"></li>
						<li ng-if="!readonly"><a href="javascript:" ng-click="saveView()">Save current view</a></li>
						<li ng-if="!readonly"><a href="javascript:" ng-click="manageViews()">Manage views</a></li>
				</ul></li>
				<li role="presentation" uib-dropdown keyboard-nav="true">
					<a href="javascript:" id="toolbox-layers-dropdown" uib-dropdown-toggle role="button">Map style <span class="caret"></span></a>
					<ul uib-dropdown-menu aria-labelledby="toolbox-layers-dropdown">
						<li ng-repeat="layer in layers.base" ng-class="{active: layer.visibility}">
							<a href="javascript:" ng-click="setLayer(layer)">{{layer.name}}</a>
						</li>
						<li role="separator" class="divider" ng-if="layers.base.length > 0 && layers.overlay.length > 0"></li>
						<li ng-repeat="layer in layers.overlay" ng-class="{active: layer.visibility}">
							<a href="javascript:" ng-click="setLayer(layer)">{{layer.name}}</a>
						</li>
					</ul>
				</li>
				<li role="presentation" uib-dropdown keyboard-nav="true">
					<a href="javascript:" id="toolbox-tools-dropdown" uib-dropdown-toggle role="button">Tools <span class="caret"></span></a>
					<ul uib-dropdown-menu aria-labelledby="toolbox-layers-dropdown" class="dropdown-menu-right">
						<!--<li ng-if="!readonly"><a href="javascript:" ng-click="openDialog('copy-pad-dialog')">Copy pad</a></li>-->
						<li><a href="javascript:" ng-click="importFile()">Import File</a></li>
						<li><a href="javascript:" ng-click="filter()">Filter</a></li>
						<li ng-if="padId"><a href="javascript:" ng-click="exportGpx()">Export GPX</a></li>
						<li ng-if="padId"><a href="javascript:" ng-click="showTable()">View as table</a></li>
						<li ng-if="!readonly && padId"><a href="javascript:" ng-click="editPadSettings()">Settings</a></li>
						<li><a href="javascript:" ng-click="showAbout()">About FacilMap</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>