<div class="modal-header">
	<button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Edit Line</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" ng-submit="save()">
		<div uib-alert class="alert-danger" ng-show="error">{{error.message || error}}</div>

		<div class="form-group">
			<label for="edit-line-name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9"><input id="edit-line-name" ng-model="line.name" class="form-control" /></div>
		</div>

		<div class="form-group" ng-show="canControl('mode') && line.mode != 'track'">
			<label class="col-sm-3 control-label">Routing mode</label>
			<div class="col-sm-9">
				<fm-route-mode ng-model="line.mode"></fm-route-mode>
			</div>
		</div>

		<div class="form-group" ng-show="canControl('colour')">
			<label for="edit-line-colour" class="col-sm-3 control-label">Colour</label>
			<div class="col-sm-9"><input id="edit-line-colour" ng-model="line.colour" fm-colour-picker class="form-control"></div>
		</div>

		<div class="form-group" ng-show="canControl('width')">
			<label for="edit-line-width" class="col-sm-3 control-label">Width</label>
			<div class="col-sm-9"><input id="edit-line-width" ng-model="line.width" fm-spinner class="form-control" /></div>
		</div>

		<div class="form-group" ng-repeat="field in client.types[line.typeId].fields">
			<label for="line-{{$index}}-input" class="col-sm-3 control-label">{{field.name}}</label>
			<div class="col-sm-9" fm-type-field="field" fm-type-field-model="line.data[field.name]" fm-type-field-id="line-{{$index}}-input"></div>
		</div>

		<button type="submit" class="hidden"></button>
	</form>
</div>
<div class="modal-footer">
	<div class="btn-group pull-left dropup" uib-dropdown keyboard-nav="true" ng-if="(client.types | fmPropertyCount:{type:'line'}) > 1">
		<button id="change-type-button" type="button" class="btn btn-default" uib-dropdown-toggle>Change type <span class="caret"></span></button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="change-type-button" uib-dropdown-menu>
			<li role="menuitem" ng-repeat="type in client.types | fmObjectFilter:{type:'line'}" ng-class="{active: type.id == line.typeId}"><a href="javascript:" ng-click="line.typeId = type.id">{{type.name}}</a></li>
		</ul>
	</div>

	<button type="button" class="btn btn-default" ng-click="$dismiss()" ng-disabled="saving">Cancel</button>
	<button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="saving">Save</button>
</div>