<div class="content container-fluid" ng-class="line.ascent == null ? className : [className, 'has-elevation']">
	<div ng-if="line.ascent == null">
		<h2>{{line.name}}</h2>
		<dl class="dl-horizontal">
			<dt class="distance">Distance</dt>
			<dd class="distance">{{line.distance | fmRound:2}} km <span ng-show="line.time != null">({{line.time | fmFormatTime}} h {{line.mode | fmRoutingMode}})</span></dd>

			<dt class="elevation" ng-show="line.ascent != null">Climb/drop</dt>
			<dd class="elevation" ng-show="line.ascent != null"><span uib-tooltip="Total ascent"><span class="glyphicon glyphicon-triangle-top"></span> {{line.ascent}} m</span> / <span uib-tooltip="Total descent"><span class="glyphicon glyphicon-triangle-bottom"></span> {{line.descent}} m</span></dd>

			<dt ng-repeat-start="field in client.types[line.typeId].fields">{{field.name}}</dt>
			<dd ng-repeat-end fm-type-field-content="field" fm-type-field-model="line.data[field.name]"></dd>
		</dl>
	</div>

	<uib-tabset active="persistentSettings.activeTab" ng-if="line.ascent != null">
		<uib-tab heading="Info">
			<h2>{{line.name}}</h2>
			<dl class="dl-horizontal">
				<dt class="distance">Distance</dt>
				<dd class="distance">{{line.distance | fmRound:2}} km <span ng-show="line.time != null">({{line.time | fmFormatTime}} h {{line.mode | fmRoutingMode}})</span></dd>

				<dt class="elevation" ng-show="line.ascent != null">Climb/drop</dt>
				<dd class="elevation" ng-show="line.ascent != null"><span uib-tooltip="Total ascent"><span class="glyphicon glyphicon-triangle-top"></span> {{line.ascent}} m</span> / <span uib-tooltip="Total descent"><span class="glyphicon glyphicon-triangle-bottom"></span> {{line.descent}} m</span></dd>

				<dt ng-repeat-start="field in client.types[line.typeId].fields">{{field.name}}</dt>
				<dd ng-repeat-end fm-type-field-content="field" fm-type-field-model="line.data[field.name]"></dd>
			</dl>
		</uib-tab>
		<uib-tab heading="Elevation plot">
			<div class="fm-elevation-plot"></div>
			<dl class="dl-horizontal">
				<dt class="distance">Distance</dt>
				<dd class="distance">{{line.distance | fmRound:2}} km <span ng-show="line.time != null">({{line.time | fmFormatTime}} h {{line.mode | fmRoutingMode}})</span></dd>

				<dt class="elevation" ng-show="line.ascent != null">Climb/drop</dt>
				<dd class="elevation" ng-show="line.ascent != null"><span uib-tooltip="Total ascent"><span class="glyphicon glyphicon-triangle-top"></span> {{line.ascent}} m</span> / <span uib-tooltip="Total descent"><span class="glyphicon glyphicon-triangle-bottom"></span> {{line.descent}} m</span></dd>
			</dl>
		</uib-tab>
	</uib-tabset>
</div>
<div class="buttons">
	<button ng-if="!client.readonly" type="button" class="btn btn-default btn-sm" ng-click="edit()">Edit</button>
	<button ng-if="!client.readonly" type="button" class="btn btn-default btn-sm" ng-click="move()">Move</button>
	<button ng-if="!client.readonly" type="button" class="btn btn-default btn-sm" ng-click="confirm('Do you really want to remove the line “' + line.name + '”?') && delete()">Remove</button>
	<div uib-dropdown keyboard-nav="true" class="dropup">
		<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>Export <span class="caret"></span></button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu">
			<li role="menuitem"><a href="javascript:" ng-click="export(true)" uib-tooltip="GPX files can be opened with most navigation software. In track mode, the calculated route is saved in the file."tooltip-placement="left">Export as GPX track</a></li>
			<li role="menuitem"><a href="javascript:" ng-click="export(false)" uib-tooltip="GPX files can be opened with most navigation software. In route mode, only the start/end/via points are saved in the file, and the navigation software needs to calculate the route."tooltip-placement="left">Export as GPX route</a></li>
		</ul>
	</div>
</div>