<div class="content container-fluid" ng-class="className">
	<uib-tabset active="active">
		<uib-tab heading="Info">
			<h2>{{line.name}}</h2>
			<dl class="dl-horizontal">
				<dt class="distance">Distance</dt>
				<dd class="distance">{{line.distance | fmRound:2}} km <span ng-show="line.time != null">({{line.time | fmFormatTime}} h {{line.mode | fmRoutingMode}})</span></dd>

				<dt class="elevation" ng-show="line.ascent != null">Climb/drop</dt>
				<dd class="elevation" ng-show="line.ascent != null"><span uib-tooltip="Total ascent"><span class="glyphicon glyphicon-triangle-top"></span> {{line.ascent}} m</span> / <span uib-tooltip="Total descent"><span class="glyphicon glyphicon-triangle-bottom"></span> {{line.descent}} m</span></dd>

				<dt ng-repeat-start="field in client.types[line.typeId].fields">{{field.name}}</dt>
				<dd ng-repeat-end fm-type-field-content="field" fm-type-field-model="line.data[field.name]"></dd>
			</dl>
		</uib-tab>
		<uib-tab heading="Elevation plot">
			<h2>{{line.name}}</h2>
			<dl class="dl-horizontal">
				<dt class="distance">Distance</dt>
				<dd class="distance">{{line.distance | fmRound:2}} km <span ng-show="line.time != null">({{line.time | fmFormatTime}} h {{line.mode | fmRoutingMode}})</span></dd>

				<dt class="elevation" ng-show="line.ascent != null">Climb/drop</dt>
				<dd class="elevation" ng-show="line.ascent != null"><span uib-tooltip="Total ascent"><span class="glyphicon glyphicon-triangle-top"></span> {{line.ascent}} m</span> / <span uib-tooltip="Total descent"><span class="glyphicon glyphicon-triangle-bottom"></span> {{line.descent}} m</span></dd>
			</dl>
			<div class="fm-elevation-plot"></div>
		</uib-tab>
	</uib-tabset>
</div>
<div class="buttons" ng-if="!readonly">
	<button type="button" class="btn btn-default btn-sm" ng-click="edit()">Edit</button>
	<button type="button" class="btn btn-default btn-sm" ng-click="move()">Move</button>
	<button type="button" class="btn btn-default btn-sm" ng-click="confirm('Do you really want to remove the line “' + line.name + '”?') && delete()">Remove</button>
</div>