<div class="content container-fluid">
	<h2>{{line.name}}</h2>
	<dl class="dl-horizontal">
		<dt class="distance">Distance</dt>
		<dd class="distance">{{round(line.distance, 2)}} km <span ng-show="line.time != null">({{formatTime(line.time)}} h {{routingMode(line.mode)}})</span></dd>

		<dt ng-repeat-start="field in types[line.typeId].fields" ng-show="field.type != 'dropdown' || field.options.length > 1">{{field.name}}</dt>
		<dd ng-repeat-end ng-show="field.type != 'dropdown' || field.options.length > 1" fp-type-field-content="field" fp-type-field-model="line.data[field.name]"></dd>
	</dl>
</div>
<div class="buttons" ng-if="!readonly">
	<button class="btn btn-default" ng-click="edit()">Edit</button>
	<button class="btn btn-default" ng-click="move()">Move</button>
	<button class="btn btn-default" ng-click="delete()">Remove</button>
</div>