.fp-popup {
	background: #fff;
	position:absolute;
	width: 350px;
	border-radius: 10px;
	box-shadow: 0 0 10px #888;
}

.fp-popup-hidden {
	display: none;
}

.fp-popup .content {
	height: 200px;
	overflow: auto;
	padding-bottom: 1.5em;
	border-radius: 10px;
}

.fp-popup:before {
	content: "";
	position: absolute;
	border: 0;
	border-style: solid;
	border-color: transparent #fff;
	display: block;
	width: 0;
}

.fp-popup-bottom {
	margin-top: 51px;
}

.fp-popup-bottom:before {
	top: -50px;
	border-top-width: 50px;
}

.fp-popup-right {
	margin-left: -30px;
}

.fp-popup-right:before {
	left: 30px;
	border-left-width: 15px;
}

.fp-popup-top {
	margin-top: -264px;
}

.fp-popup-top:before {
	bottom: -50px;
	border-bottom-width: 50px;
}

.fp-popup-left {
	margin-left: -319px;
}

.fp-popup-left:before {
	right: 30px;
	border-right-width: 15px;
}

.fp-popup .buttons {
	position: absolute;
	background: #fff;
	bottom: 0;
	left: 0;
	right: 15px;
	padding: 5px 10px;
	box-shadow: 0 0 10px #fff;
	border-bottom-left-radius: 10px;
}

.fp-popup .close-button {
	position: absolute;
	top: 10px;
	right: 20px;
	text-decoration: none;
}

.pos,.distance {
	color: #888;
}